<div class="form-box">
    <div class="login-title">
        <span>欢迎登录</span>
    </div>
    <nz-row class="login-control">
        <form nz-form [formGroup]="validateForm" class="login-form">
            <nz-form-item>
                <nz-form-control [nzErrorTip]="userErrorTpl">
                    <nz-input-group [nzPrefix]="prefixUser">
                        <input class="text-left ipt_height" type="text" nz-input formControlName="login"
                            placeholder="请输入用户名">
                    </nz-input-group>
                    <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="validateForm.get('login').dirty && validateForm.get('login').errors">
                            <i nz-icon class="mrg-right-5" nzType="close-circle" nzTheme="outline"></i>
                            请输入登录账号
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzErrorTip]="pawErrorTpl">
                    <nz-input-group [nzPrefix]="prefixLock">
                        <input type="password" class="text-left ipt_height" nz-input formControlName="password"
                            placeholder="请输入登录密码">
                    </nz-input-group>
                    <ng-template #pawErrorTpl let-control>
                        <ng-container *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">
                            <i nz-icon class="mrg-right-5" nzType="close-circle" nzTheme="outline"></i>
                            请输入登录密码
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control class="steps-content" [nzErrorTip]="imgTpl">
                    <nz-input-group [nzPrefix]="prefixSafety">
                        <input class="text-left ipt_height width-80" id="imgCode" nz-input formControlName="imgCode"
                            placeholder="请输入验证码">
                        <div class="pointer code-img">
                            <img id="ramdomcode" [src]="imgCodeUrl" (click)="getImgCodeUrl()" />
                            <span class="change-code pointer" (click)="getImgCodeUrl()">看不清，换一张</span>
                        </div>
                    </nz-input-group>
                    <ng-template #imgTpl let-control>
                        <ng-container *ngIf="validateForm.get('imgCode').dirty && validateForm.get('imgCode').errors">
                            <i nz-icon class="mrg-right-5" nzType="close-circle" nzTheme="outline"></i>
                            图形验证码不能为空
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control class="mrg-top-20">
                    <nz-spin [nzSpinning]="isSpinning" [nzDelay]="500">
                        <button nz-button class="login-form-button" [nzType]="'primary'" (click)="submit()">
                            <span class="font-bold">登</span>
                            <span class="font-bold mrg-left-10">录</span>
                        </button>
                    </nz-spin>
                </nz-form-control>
            </nz-form-item>
            <!-- <span class="pointer">
                没有账号？
                <a [routerLink]="['/register']">立即注册</a>
            </span>
            <span class="float-right pointer">
                <a [routerLink]="['/retrive']">忘记密码？</a>
            </span> -->
        </form>
        <ng-template #prefixUser>
            <i nz-icon type="user"></i>
        </ng-template>
        <ng-template #prefixLock>
            <i nz-icon type="lock"></i>
        </ng-template>
        <ng-template #prefixSafety>
            <i nz-icon nzType="safety" nzTheme="outline"></i>
        </ng-template>
    </nz-row>
</div>